<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- clear to make sure that everyone uses the same sources -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="SystemWeaverUtilities" value="https://pkgs.dev.azure.com/systemite/089a979c-fd34-4487-a27e-7609c1d94c90/_packaging/SystemWeaverUtilities/nuget/v3/index.json" />
  </packageSources>
</configuration>